<div class="row my-3">
  <div style="width: 550px" class="flex ps-0 pb-2 thick-underline mb-5">
    <h1 class="m-0 color-blue p-0 inline"><%= current_user.first_name %>'s dashboard</h1>
  </div>

      <%# Tab titles %>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="items-tab" data-bs-toggle="tab" data-bs-target="#items-tab-pane" type="button" role="tab" aria-controls="items-tab-pane" aria-selected="true">My items</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings-tab-pane" type="button" role="tab" aria-controls="bookings-tab-pane" aria-selected="false">My bookings</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="booked-items-tab" data-bs-toggle="tab" data-bs-target="#booked-items-tab-pane" type="button" role="tab" aria-controls="booked-items-tab-pane" aria-selected="false">My booking requests</button>
        </li>
      </ul>

      <div class="tab-content p-0" id="myTabContent">

        <%# First tab: User's items - items owned by user %>

        <div class="tab-pane fade show active" id="items-tab-pane" role="tabpanel" aria-labelledby="items-tab" tabindex="0">
          <div class="mt-4">

            <h2 class="color-blue mb-3">My Items</h2>

            <button type="button" class="red-button mb-4" data-bs-toggle="modal" data-bs-target="#addItemModal">
              Add an item
            </button>

                <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addItemModalLabel">Add a new item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= render "items/form", item: @item %>
                      </div>
                    </div>
                  </div>
                </div>

              <% if @my_items.any? %>
                <div class="my-items-grid">
                  <% @my_items.each do |item| %>
                  <%= link_to item do %>
                    <div class="my-item-card mt-3" style="background-image: url(<%= cl_image_path item.photos.first.key, crop: :fill %>)">
                      <div class="content-card">
                        <div class="my-item-card-title">
                          <h3 class="m-0"><%= item.title %></h3>
                        </div>
                        <div class="my-item-card-description">
                        </div>
                      </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            <% else %>
              <p class="filler">You don't have any items yet.</p>
            <% end %>
          </div>
        </div>

        <%# Second tab: User's bookings - bookings made by user %>

        <div class="tab-pane fade" id="bookings-tab-pane" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">
          <div class="mt-4">
            <%# Checking if the current user made bookings %>
            <%# If this is the case, normal display. If there are no bookings to display, display a large bottom padding so that container displays properly on top of the page %>
            <% if current_user.bookings.any? %>
              <h2 class="my-4 color-blue">My bookings</h2>
            <% else %>
              <h2 class="my-4 color-blue filler">My bookings</h2>
            <% end %>
            <div class="cards">
                <%# <div class="col-6"> %>
                  <% @my_bookings.each do |booking| %>
                    <%= link_to booking_path(booking) do %>
                      <div class="card shadow-sm">
                        <div class="card-img-top image-container-booking border-bottom">
                          <% booking.item.photos.each do |photo| %>
                          <%= cl_image_tag photo.key, class: "custom-bookindex-img", crop: :fill %>
                          <% end %>
                        </div>
                        <div class="card-body p-0 bg-light">
                          <h5 class="card-title p-3 m-0 border-bottom bg-primary text-white"><strong><%=  booking.item.title %></strong></h5>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-white color-blue"><i class="fa-solid fa-calendar-days"></i> <%= booking.start_date.strftime("%d/%m/%Y") %></li>
                            <li class="list-group-item bg-white color-blue"><i class="fa-solid fa-calendar-days"></i> <%= booking.end_date.strftime("%d/%m/%Y") %></li>
                            <li class="list-group-item bg-white color-blue"><i class="fa-solid fa-tag"></i> <%= booking.total_price.round() %> <i class="fa-solid fa-euro-sign"></i> </li>
                            <% if booking.status == "Pending" %>
                              <li class="list-group-item bg-white color-pending"><i class="fa-solid fa-bars-progress color-blue"></i> <strong><%= booking.status %></strong></li>
                            <% elsif booking.status == "Accepted" %>
                              <li class="list-group-item bg-white color-accepted"><i class="fa-solid fa-bars-progress color-blue"></i> <strong><%= booking.status %></strong></li>
                            <% elsif booking.status == "Rejected" %>
                              <li class="list-group-item bg-white color-rejected"><i class="fa-solid fa-bars-progress color-blue"></i> <strong><%= booking.status %></strong></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <%# </div> %>
            </div>
          </div>
        </div>

        <%# Third tab: User's booked items - Booking requests received by user %>

        <div class="tab-pane fade" id="booked-items-tab-pane" role="tabpanel" aria-labelledby="booked-items-tab" tabindex="0">

            <div class="mt-4">
              <%# Checking if someone booked one if the items of the current user %>
              <%# If this is the case, normal display. If there are no booked items to display, display a large bottom padding so that container displays properly on top of the page %>
              <% if (@all_bookings.map { |booking| booking.item.user.id }.include?(current_user.id)) %>
                <h2 class="my-4 color-blue">My booking requests</h2>
              <% else %>
                <h2 class="my-4 color-blue filler">My booking requests</h2>
              <% end %>
              <div class="cards">
                <% @all_bookings.each do |booking| %>
                  <% if booking.item.user == current_user %>
                    <%= link_to my_booked_item_path(booking) do %>
                      <div class="card shadow-sm mb-4">
                        <div class="card-img-top image-container-booking border-bottom">
                          <% booking.item.photos.each do |photo| %>
                            <%= cl_image_tag photo.key, class: "custom-bookindex-img", crop: :fill %>
                          <% end %>
                        </div>
                        <div class="card-body p-0 bg-light">
                          <h5 class="card-title p-3 m-0 border-bottom bg-primary text-white"><strong><%= booking.item.title %></strong></h5>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-white"><i class="fa-solid fa-user"></i> <%= booking.user.first_name %> <%= booking.user.last_name %></li>
                            <li class="list-group-item bg-white"><i class="fa-solid fa-calendar-days"></i> <%= booking.start_date.strftime("%d/%m/%Y") %></li>
                            <li class="list-group-item bg-white"><i class="fa-solid fa-calendar-days"></i> <%= booking.end_date.strftime("%d/%m/%Y") %></li>
                            <li class="list-group-item bg-white"><i class="fa-solid fa-tag"></i> <%= booking.total_price.round %> <i class="fa-solid fa-euro-sign"></i> </li>
                            <% if booking.status == "Pending" %>
                              <li class="list-group-item bg-white color-pending"><i class="fa-solid fa-bars-progress color-blue"></i> <strong><%= booking.status %></strong></li>
                            <% elsif booking.status == "Accepted" %>
                              <li class="list-group-item bg-white color-accepted"><i class="fa-solid fa-bars-progress color-blue"></i> <strong><%= booking.status %></strong></li>
                            <% elsif booking.status == "Rejected" %>
                              <li class="list-group-item bg-white color-rejected"><i class="fa-solid fa-bars-progress color-blue"></i> <strong><%= booking.status %></strong></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
</div>

<script>
// setting tab history so that the page displays the previously displayed tab after page reload
window.addEventListener("load", () => {
  const itemsTab = document.getElementById("items-tab");
  const itemsTabId = `#${itemsTab.id}`
  itemsTab.addEventListener("click", () => {
    window.location.hash = itemsTabId;
    history.pushState(null, null, itemsTabId);
  })

 const bookingTab = document.getElementById("bookings-tab");
  const bookingTabId = `#${bookingTab.id}`
  bookingTab.addEventListener("click", () => {
    window.location.hash = bookingTabId;
    history.pushState(null, null, bookingTabId);
  })

  const requestsTab = document.getElementById("booked-items-tab");
  const requestsTabId = `#${requestsTab.id}`
  requestsTab.addEventListener("click", () => {
    window.location.hash = requestsTabId;
    history.pushState(null, null, requestsTabId);
  })
})
</script>
