<div class="container">
  <div class="row m-4">
    <h1 class="mb-3">My bookings</h1>
      <div class="col-6">
        <% @bookings.each do |booking| %>
          <div class="card mb-4">
            <div class="image-container-booking">
              <% booking.item.photos.each do |photo| %>
              <%= cl_image_tag photo.key, id: "custom-img", crop: :fill %>
              <% end %>
            </div>
            <div class="card-body">
              <div class="card-header">
                <h5 class="card-title"><strong><%= booking.item.title %></strong></h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Description de l'oeuvre: <%= booking.item.description %></li>
                <li class="list-group-item">Catégorie de l'oeuvre: <%= booking.item.category %></li>
                <li class="list-group-item">Artiste: <%= booking.item.artist %></li>
                <li class="list-group-item">Emplacement de l'oeuvre: <%= booking.item.address %></li>
              </ul>
              <div class="card-header">Propriétaire</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Nom: <%= booking.item.user.first_name %> <%= booking.item.user.last_name %></li>
              </ul>
              <div class="card-header">Détails de la réservation</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Date de départ: <%= booking.start_date %></li>
                <li class="list-group-item">Date de fin: <%= booking.end_date %></li>
                <li class="list-group-item"><strong>Statut: <%= booking.status %></strong></li>
                <li class="list-group-item">Prix total de la réservation: <i class="fa-solid fa-euro-sign"></i> <%= booking.total_price %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
