<div class="container">
  <div class="row m-4 justify-content-center">
    <h1 class="mb-4 text-center">My booking details</h1>
      <div class="col-6">
          <div class="card mb-4">
            <div class="card-img-top image-container-booking border-bottom">
              <% @booking.item.photos.each do |photo| %>
              <%= cl_image_tag photo.key, id: "custom-img", crop: :fill %>
              <% end %>
            </div>
            <div class="card-body p-0">
              <div class="card-header p-0">
                <h5 class="card-title p-3 m-0 bg-light"><strong><%= @booking.item.title %></strong></h5>
              </div>
              <ul class="list-group list-group-flush border-bottom">
                <li class="list-group-item">Artwork description: <%= @booking.item.description %></li>
                <li class="list-group-item">Artwork category: <%= @booking.item.category %></li>
                <li class="list-group-item">Artist: <%= @booking.item.artist %></li>
                <li class="list-group-item">Artwork location: <%= @booking.item.address %></li>
              </ul>
              <div class="card-header bg-secondary"><strong>Owner</strong></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: <%= @booking.item.user.first_name %> <%= @booking.item.user.last_name %></li>
              </ul>
              <div class="card-header"><strong>Booking details</strong></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Start date: <%= @booking.start_date %></li>
                <li class="list-group-item">End date: <%= @booking.end_date %></li>
                <li class="list-group-item"><strong>Status: <%= @booking.status %></strong></li>
                <li class="list-group-item">Booking total price: <i class="fa-solid fa-euro-sign"></i> <%= @booking.total_price %></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</div>
