<div class="container">
  <!-- <div class="test" style="background-image: url(<%= image_path 'landing-background.jpg' %>)"> -->

  <div class="d-flex justify-content-center">
    <%= link_to items_path, class:"red-button" do %>
      <h4 style="font-size:24px;" class="m-0">Browse all art</h4>
    <% end %>
  </div>

  <h4 class="text-center my-5 text-primary"> Categories </h4>
  <div class="cards">
    <% @categories.each do |category|%>
      <%= link_to items_path(category: category[:name].downcase), class:"text-decoration-none text-white" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category[:url] %>)">
      <%= category[:name] %></div>
      <% end %>
    <% end %>
  </div>

  </div>
</div>
