<div class="row">

        <% @items.each do |item|%>

          <div class="col-md-4">

            <div style="height: 425px">

              <div class="flat-card mt-3">

                <div class="flat-card-image">
                  <%= link_to item_path(item) do %>
                    <div class="image-container">
                      <% item.photos.each do |photo| %>
                        <%= cl_image_tag photo.key, class: "img-fluid", crop: :fill %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                <div class="flat-card-content">
                  <%= link_to item_path(item) do %>
                    <div class="d-flex flex-column justify-content-between h-100">
                      <div class="flat-card-title border-bottom">
                        <h4 style="font-size: 20px" class="color-blue">
                        <strong><%= item.title %></strong></h4>
                      </div>

                      <p style="font-size: 16px" class="color-blue pt-2">Artist: <%= item.artist %></p>
                      <p style="font-size: 14px" class="color-blue">Address: <%= item.address %></p>

                      <div class="flex justify-content-between">
                        <div class="flex align-items-center thick-underline">
                          <p class="color-blue m-0">
                            <i class="<%= Item::CATEGORY[Item::CATEGORY_NAME.index(item.category)][:icon] %>"></i>
                            <span ><%= item.category %></span>
                          </p>
                        </div>

                        <div class="flex align-items-center ms-3 thick-underline">
                          <p class="color-blue m-0">
                            <i class="fa-solid fa-euro-sign"></i>
                            <span><strong><%= item.price.round() %></strong> / day </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end  %>
                </div>

                <div class="flat-card-actions" style="padding-top:9px;">
                  <p data-controller="toggle-favorite" data-action="click->toggle-favorite#fire" class="color-blue">
                    <i data-toggle-favorite-target="togglableElement" class="fa-regular fa-heart color-red"></i>
                    <i data-toggle-favorite-target="togglableItem" class="fa-solid fa-heart d-none color-red"></i>
                    Add to favorites
                  </p>
                </div>

              </div>
            </div>

          </div>

        <% end %>

      </div>
