<div class="row">

        <% @items.each do |item|%>

          <div class="col-md-4">

            <div style="height: 425px">

              <div class="flat-card mt-3">

                <div class="flat-card-image">
                  <%= link_to item_path(item) do %>
                    <div class="image-container">
                      <% item.photos.each do |photo| %>
                        <%= cl_image_tag photo.key, class: "img-fluid", crop: :fill %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                <div class="flat-card-content">
                  <%= link_to item_path(item) do %>
                    <div class="d-flex flex-column justify-content-between h-100">
                      <div class="flat-card-title">
                        <h4 style="font-size: 20px">
                        <%= item.title  %></h4>
                      </div>

                      <p style="font-size: 16px">Artist : <%= item.artist %></p>
                      <p style="font-size: 14px">Address : <%= item.address %></p>

                      <div class="flex justify-content-between">
                        <div class="flex align-items-center">
                          <p>
                            <i class="<%= Item::CATEGORY[Item::CATEGORY_NAME.index(item.category)][:icon] %>"></i>
                            <span ><%= item.category %></span>
                          </p>
                        </div>

                        <div class="flex align-items-center ms-3">
                          <p>
                            <i class="fa-solid fa-euro-sign"></i>
                            <span><%= item.price %>/day </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end  %>
                </div>

                <div class="flat-card-actions" style="padding-top:9px;">
                  <p data-controller="toggle-favorite" data-action="click->toggle-favorite#fire">
                    <i data-toggle-favorite-target="togglableElement" class="fa-regular fa-heart "></i>
                    <i data-toggle-favorite-target="togglableItem" class="fa-solid fa-heart d-none"></i>
                    Add to favorites
                  </p>
                </div>

              </div>
            </div>

          </div>

        <% end %>

      </div>
