<%= simple_form_for(item, html: {multipart: true}) do |f| %>
  <div>
    <%= f.input :title, label: false, placeholder: "Title", input_html: { class: "bg-white" } %>
    <%= f.input :artist, label: false, placeholder: "Artist", input_html: { class: "bg-white" } %>
    <%= f.input :photos, as: :file, input_html: { multiple: true, class: "bg-white" } %>
    <%= f.input :description, label: false, placeholder: "Description", input_html: { class: "bg-white" } %>
    <%= f.input :category, collection: Item::CATEGORY_NAME, input_html: { class: "bg-white" } %>
    <%= f.input :price, label: false, placeholder: "Price", input_html: { class: "bg-white" } %>
    <%= f.input :address, label: false, placeholder: "Address", input_html: { class: "bg-white" } %>
  </div>
  <div>
    <%= f.submit class: 'red-button' %>
  </div>
<% end %>
