
<div class="container">

  <h4 class="text-center my-5"> <strong>Find the perfect art piece for your interior!</strong></h4>

  <div class="row">

    <% @items.each do |item|%>

      <div class="col-md-4">

        <div class="flat-card">

          <div class="flat-card-image"></div>

          <div class="flat-card-content">

            <div class="flat-card-title">
              <h4><%= item.title  %></h4>
            </div>

            <p>Artist : <%= item.artist %></p>
            <p>Address : <%= item.address %></p>

            <div class="flex justify-content-between">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= item.category %></span>
              </div>

              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= item.price %> par jour </span>
              </div>
            </div>

          </div>

            <div class="flat-card-actions">
              <%= link_to "Show details", item_path(item) %>
            </div>

        </div>

      </div>

    <% end %>

  </div>

</div>
