<%# block top %>

<div class="card-product">
  <%= image_tag "monet.webp", alt: "Le plus beau tableau du monde" %>
  <div class="card-product-infos">
    <h2><%=@item.title%></h2>
    <p><%=@item.description %></p>
    <p><%=@item.artist%></p>
  </div>
</div>

<%# block bottom %>
<div class="card text-center">
  <div class="card-body">
    <%=@item.user_id%>
    <h5 class="card-title">Booking dates:</h5>
    <p> Price: <%= @item.price%>€</p>
    <%# <p class="card-text"><%=" From:#{@booking.start_date}, To:#{@booking.end_date}"</p> %>
   <%= link_to item_path(@item) do  %>
  <a href="#" class="btn btn-primary">Book</a>
  <% end %>
  </div>
  <div class="card-footer text-body-secondary">
  </div>
</div>
