<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @item.title %></h5>
        <p class="card-text"><%= @item.description %></p>
        <p class="card-text"><small class="text-body-secondary"><%= @item.artist %></small></p>
      </div>
    </div>
  </div>
</div>


<%# Display edit and delete links for the item owner %>
<% if current_user && @item.user == current_user %>
  <%= link_to 'Edit', edit_item_path(@item) %>
  <%= link_to 'Delete', item_path(@item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% else %>
  <%# Display booking option for non-owners %>
  <%= link_to 'Book Now', new_booking_path(item_id: @item.id), class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', items_path %>

