<%# block top %>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=@item.title%></h5>
        <p class="card-text"> <%=@item.description<%> </p>
        <p class="card-text"><small class="text-body-secondary"></small><%=@item.artist%></p>
      </div>
    </div>
  </div>
</div>
<%# block bottom %>
<div class="card text-center">
  <div class="card-header">
    <%=@item.user_id%>
  </div>
  <div class="card-body">
    <h5 class="card-title">Booking dates:</h5>
    <p class="card-text"><%=" From:#{@booking.start_date}, To:#{@booking.end_date}"%></p>
    <a href="#" class="btn btn-primary"> <% link_to "booking_page_id"%></a>
  </div>
  <%# <div class="card-footer text-body-secondary">

  </div> %>
</div>
