<%# block top %>
<div class='container mt-3'>
  <div class='card-product'>
    <div class="image-container">
      <% @item.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "img-fluid", crop: :fill %>
      <% end %>
    </div>
    <div class='card-product-infos'>
      <h2><%=@item.title.capitalize%></h2>
      <p><%=@item.description.capitalize %></p>
      <p><%=@item.artist.capitalize%></p>
      <p><%=@item.address%></p>
    </div>
  </div>
  <%# block bottom %>
  <div class='card mb-4'>
    <div class='card-body'>
      <h5 class="mb-4"><u>Price per day</u>: <%= @item.price%> <strong><i class="fa-solid fa-euro-sign"></strong></i></h5>
       <blockquote class="blockquote mb-3">
        <p class="blockquote-footer">Owner: <%=@item.user.first_name.capitalize%> <%=@item.user.last_name.capitalize%></p>
      </blockquote>
      <div class="d-flex justify-content-between">
        <% if current_user && @item.user == current_user %>
          <%= link_to 'Delete', item_path(@item), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-primary" %>
        <% end %>
        <%= link_to 'Back', items_path, class:"btn btn-secondary" %>
      </div>
    </div>
  </div>

  <% if @item.user == current_user %>
    <h3>Edit item</h3>
    <%= render 'form', item: @item %>
    <%# <%= render 'remote_modal' %>
    <%= turbo_frame_tag "remote_modal", target: "_top" %>
  <% end %>

  <% if current_user && @item.user != current_user %>
    <h3>Book the item</h3>
    <h4>Please select dates to check availability</h4>
    <%= render 'bookings/form', item: @item, booking: @booking %>
  <% end %>
</div>
