<!DOCTYPE html>
<html>
  <head>
    <title>Rbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar-lewagon">
      <div class="navbar-elements">
        <%= image_tag "logo.png", alt: "logo", width: 200 %>
        <a class="menu-button">
          <span><i class="fa-solid fa-bars navbar-menu"></i></span>
          <span><i class="fa-solid fa-user navbar-user"></i></span>
        </a>
      </div>
    </nav>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
